/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite IT Moderna", cursive;
}

body {
    background: url('/static/images/authapp/cart-background.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.2); /* Transparent form */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); /* Frosted glass effect */
    position: absolute;
    left: 10%; /* Align form to the left */
}

.auth-box h2 {
    text-align: center;
    color: #301919;
    font-weight: 600;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(236, 234, 227);
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background: #301919;
    color: white;
    border: none;
    border-radius: 25px; /* Make button oval */
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

button:hover {
    background: #e65c00;
}

p {
    text-align: center;
    margin-top: 10px;
    color: #301919;
}

p a {
    color: #0051ff;
    text-decoration: none;
    font-weight: 600;
}

p a:hover {
    text-decoration: underline;
}
.error{
    color: rgb(176, 43, 43);
}